{% extends 'films/base.html' %}
{% load crispy_forms_tags %}

{% block page_header %}
  <h2>Reset Password</h2>
{% endblock page_header %}

{% block content %}

{% if validlink %}

  <h4>Please choose a new password.</h4>

  <form method="POST" class="form">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Change my password">
  </form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset."</p>

{% endif %}

{% endblock content %}


