{% extends 'films/base.html' %}
{% load crispy_forms_tags %}

{% block page_header %}
  <h2>Password Reset (Forgotten Password)</h2>
{% endblock page_header %}

{% block content %}

  <p>Hey, it happens. Enter the email address you used to create your NoirDB account, and we will send an e-mail with instructions for resetting your password.</p>

  <form method="POST" class="form">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Send me instructions..." />
  </form>

{% endblock %}

