{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>NoirDB
  {% if page_name %} - {{ page_name }}{% endif %}
  </title>

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  <!-- jquery-ui css -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- my css file -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <!-- favicon.ico -->
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

</head>

<body>
<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:#D3D3D3;">
  <a class="navbar-brand" href="{% url 'films:index' %}">NoirDB</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% with url_name=request.resolver_match.url_name %}
      <li class="nav-item {% if url_name == 'all_movies' %}active{% endif %}">
        <a class="nav-link" href="{% url 'films:all_movies' %}">All Movies</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item {% if url_name == 'user_detail' %}active{% endif %}">
          <a class="nav-link" href="{{ user.get_absolute_url }}">Your Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </li>
      {% else %}
        <li class="nav-item {% if url_name == 'register' %}active{% endif %}">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item {% if url_name == 'login' %}active{% endif %}">
          <a class="nav-link" href="{% url 'login' %}">Log in</a>
        </li>
        {% endif %}
        <li class="nav-item {% if url_name == 'faq' %}active{% endif %}">
          <a class="nav-link" href="{% url 'films:faq' %}">FAQ</a>
        </li>
      {% endwith %}
    </ul>

{% if user.is_authenticated %}
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{{ user.get_absolute_url }}">Hello, {{ user.username }}</a>
      </li>
    </ul>
{% endif %}
    <div class="navbar-nav ml-auto">
    <form action="{% url 'films:search_results' %}" method='get' class="form-inline my-2 my-lg-0">
      {% csrf_token %}
      <input id="search_input" name='q' class="form-control mr-sm-2" type="text" required placeholder="Movie or Person..." aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </div>
</nav>

  <main role="main" class="container">
    <div class="mb-2 mt-3 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
  </main>

<!-- load jQuery-UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
$( function() {
    $( "#search_input" ).autocomplete({
      source: "{% url 'films:autocomplete' %}",
      minLength: 2,
      select: function(event, ui) {
        window.location = ui.item.url;
      }
    });
  } );
</script>

</body>
</html>


