{% extends 'films/base.html' %}

{% block page_header %}
  <h2>Films with <i>Free</i> Streaming Links</h2>
{% endblock page_header %}

{% block content %}

  <p>NoirDB currently includes <b>{{ free_count }}</b> films with Free Streaming links.<br>
     We are currently in the process of adding more links, both free and paid, so expect this number to rise in the near future!</p>

  <ul>
    {% for movie in free_movies %}
      <li><a href="{{ movie.get_absolute_url }}">{{ movie.display_name }}</a></li>
    {% empty %}
      <li>No free movies have been added to the database yet.</li>
    {% endfor %}
  </ul>

 <div class="pagination">
    <span class="step-links">
      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
        <ul class="pagination pagination-sm">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1 &q={{ query }}">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ query }}">previous</a></li>
        {% endif %}

        {% if page_obj.paginator.num_pages > 1 %}
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active"><a class="page-link" href="?page={{ i }}&q={{ query }}">{{ i }}</a>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}&q={{ query }}">{{ i }}</a>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ query }}">next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&q={{ query }}">&raquo;</a></li>
        {% endif %}
        </ul>
    </span>
  </div>

{% endblock content %}