{% extends 'films/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <div class="jumbotron pt-5 pb-5">
    <h1 class="display-3">NoirDB</h1>
    <h1 class="display-4">An Interactive Film Noir Database.</h1>

    <p class="lead">NoirDB includes 581 Film Noirs from the Classic American Period, 1941 - 1958.</p>
  </div>

{% endblock page_header %}

{% block content %}

{% if user.is_authenticated %}

  <div class="container mt-4">
    <h5>Welcome back, {{ user.username }}.</h5>
      <ul>
        <li>Check out your <a href="{{ user.get_absolute_url }}">user details</a> here.<small><i>...or just click the 'hello user' text up top at any time!</i></small></li>
        <li>Feeling lucky? Get a few <a href="{% url 'films:get_recommendations' %}">recommendations.</a><i> (We won't pick something you've seen)</i></li>
      </ul>
  </div>

{% else %}
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-6">
      <h5>Welcome, visitor!</h5>
        <ul>
          <li>If you have an account, please <a href="{% url 'users:login' %}">login here</a>.</li>
          <li>Looking for a particular film or person? Use the <b>Search</b> field up above.</li>
        </ul>
    </div>
    <div class="col-lg-6"> 
    <h5>Registered Users can:</h5>
      <ul>
        <li>Write reviews and get recommendations.</li>
        <li>Mark films as Seen, Favorite, or add them to your Watchlist.</li>
        <li>Track your progess through all 581 film noirs!</li>
      </ul>
    <a class="btn btn-outline-dark float-right" href="{% url 'users:register' %}" role="button">Register Now &raquo;</a>
    </div>
  </div>
</div>

{% endif %}

{% endblock content %}