{% extends 'films/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block page_header %}
  <h2>Account Details</h2>
{% endblock page_header %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <ul>
        <li>Username:<span class="float-right">{{ user.username }}</span></li>
        <li>E-mail:<span class="float-right">{{ user.email }}</span></li>
        <li>Date Joined:<span style="float:right;">{{ user.date_joined|date:'M d, Y' }}</span></li>
        <br>
        <li>Total Movies Seen:<span class="float-right">{{ uml_seen|length }} <small> of 581.</small></span></li>
        <li>Total Reviews Written:<span class="float-right">{{ user_reviews|length }}</span></li>
      </ul>

        <p>Would you like a few <a href="{% url 'films:get_recommendations' %}">recommendations</a>?</p>
    </div>

    <div class="col-lg-3">
    </div>

    <div class="col-lg-4">
      <div class="mb-3"><h4>Edit your Account</h4></div>
        <a class="btn btn-outline-dark btn-sm mb-2" href="{% url 'users:password_change' %}" role="button">Update Password</a>
        <br>
        <a class="btn btn-outline-dark btn-sm mb-2" href="{% url 'users:close_account' user.id user.slug %}" role="button">Close Account</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg p-3 m-2 border rounded">
      <h3>Your Watchlist</h3>
        {% if not uml_watch %}
        <p>You don't have any movies in your watchlist.</p>
        {% else %}
          <ul>
          {% for entry in uml_watch %}
            <li><a href="{{ entry.movie.get_absolute_url }}">{{ entry.movie.display_name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
    </div>
    <div class="col-lg p-3 m-2 border rounded">
      <h3>Your Favorites</h3>
        {% if not uml_favs %}
        <p>You haven't favorited any movies yet.</p>
        {% else %}
          <ul>
          {% for entry in uml_favs %}
            <li><a href="{{ entry.movie.get_absolute_url }}">{{ entry.movie.display_name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
    </div>
    <div class="col-lg p-3 m-2 border rounded">
      <h3>Films You've Seen</h3>
        {% if not uml_seen %}
        <p>You haven't marked any films as Seen.</p>
        {% else %}
          <ul>
          {% for entry in uml_seen %}
            <li><a href="{{ entry.movie.get_absolute_url }}">{{ entry.movie.display_name }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
    </div>
  </div>
</div>

<br>

<div class="container">  
  <h3>Your Reviews</h3>

  {% for review in user_reviews %}
    <div class="card mb-3">
      <h4 class="card-header">
        {% with ''|center:review.star_rating as range %}
          {% for _ in range %}
            <!-- <i class="fas fa-star fa-sm"></i> -->
            <img class="star pb-1" src="{% static 'images/star-solid.svg' %}">
          {% endfor %}
        {% endwith %}
        {% with ''|center:review.get_empty_stars as range_two %}
          {% for _ in range_two %}
            <!-- <i class="far fa-star fa-sm"></i> -->
            <img class="star pb-1" src="{% static 'images/star-regular.svg' %}">
          {% endfor %}
        {% endwith %}
          &nbsp;&nbsp;<small><b>{{ review.movie.display_name }}</b> - {{ review.date_added|date:'M d, Y' }}</small>
    <a class="btn btn-sm btn-outline-secondary float-right" href="{% url 'films:delete_review' review.id %}" role="button">Delete Review</a>
      </h4>
      <div class="card-body">
        {{ review.review_text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>You haven't written any reviews yet!</p>
  {% endfor %}
</div>

{% endblock content %}



<!-- add to this page, column-based displays for: seen movies, favorite movies, watch_list movies -->

